.news-container {
  width: 75%;
  display: grid;
  grid-template-columns: auto auto;
  box-sizing: border-box;
  justify-items: center;
}

@media only screen and (max-width: 992px) {
  .news-container {
    grid-template-columns: auto;
    width: 100%;
  }
}
