.side-menu {
  width: 25%;
  margin-bottom: 20px;
  margin-right: 5px;
  a {
    text-decoration: none;
  }
  .country-li {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      max-width: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .side-menu {
    width: 50%;
  }
}
