.navbar {
  margin-bottom: 100px;
  a {
    text-decoration: none;
  }
  .header-right {
    display: flex;
    .language-dropdown-item {
      color: black;
    }
  }
  .header-button {
    margin: 0px 5px !important;
  }
}
