.article {
  width: 20rem;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  .grid-cart-title {
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .see-more-btn {
    margin-bottom: auto;
    position: absolute;
    bottom: 0px;
    margin: 5px 0px;
  }

  .button-padding {
    padding-bottom: 1rem;
  }

  .card-img {
    height: 178px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 992px) {
  .article {
    margin: 20px 0px 0px 0px;
  }
}

@media only screen and (max-width: 768px) {
  .article {
    width: 90%;
  }
}
